/*New poll elements*/
.new-poll {
   z-index: 10;
   position: absolute;
   top: 25%;
   text-align: center;
   width: 100%;
}

.new-poll #header{
   font-weight: 900;
   font-size: 46px;
   line-height: 1;
   margin-bottom: 70px;
   /* text-shadow: 1px 1px 0px #fff, 3px 3px 0px var(--secondary-color); */
   text-shadow: 2px 2px 0px var(--secondary-color);
}

.button {
   font-family: var(--default-font-family);
   background-color: var(--secondary-color);
   text-transform: uppercase;
   color: #fff;
   font-weight: 700;
   border: none;
   border-radius: 20px;
   padding: 12px; /*(changes size of the button)*/
   width: 135px;
   display: inline-block;
   transition: box-shadow .3s ease;
}

.button span {
   position: relative;
   display: inline-block;
   transition: all .3s ease;
}

.button span:after {
   content: "\00bb";
   position: absolute;
   opacity: 0;
   top: -5px;
   right: -20px;
   transition: all .3s ease;
   font-size: 20px;
}

/*Possibly shadow on hover*/
.button:hover span {
   padding-right: 15px;
}

.button:hover span:after {
   opacity: 1;
   right: -5px;
}

.button:hover {
   box-shadow: 1px 4px 3px 0 rgba(0,0,0,0.24); /*0 17px 50px 0 rgba(0,0,0,0.19);*/
}

#new-poll {
   margin-right: 4%;
}