//- (this style of comment is not converted to html, therefore does not give any errors)
//- ('//' is converted to an html comment)

//- author: Harry Collet
//- date: 4/18/19
//- description: This is the homepage for our website, it inherits from layout and
//-              thus uses the base layout defined there

extends mainNav

block append vars
    - var currentPage = 'home'

block append styles
    link(rel='stylesheet' href='/styles/index.css')
    

block content
    .new-poll
        h1#header create a poll
        a(href='/simpoll/polls/create')
            .button.hover-target#new-poll(type='button')
                span new poll
        a(href='/simpoll/polls')
            .button.hover-target(type='button')
                span go vote