// author: Harry Collet
// date: 4/18/19
// description: This is the homepage for our website, it inherits from layout and
//              thus uses the base layout defined there

extends layout
block content
    h1 = title
    p Welcome to #{title} the simple, easy to use polling platform