extends mainNav

block append styles
    link(rel='stylesheet' href='/styles/pollList.css')   

block append vars
    - var currentPage = 'all polls'    

block content
    .poll-list
        h1#header all polls
        ul
            each poll in poll_list
                li.poll
                    a(href='/simpoll/polls/' + poll._id + '/complete')
                        h3.poll-name #{poll.name}
                .space
